/* ============================================================
 * 基本要素
 * ============================================================ */
* {
  color: !base_fg_color;
  margin: 0px;
  padding: 0px;
  text-decoration: none; }

html {
  height: 100%;
  margin-bottom: 1px; }

body {
  font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
  background-color: #ffffff; }

/* ============================================================
 * 汎用クラス
 * ============================================================ */
.invisible {
  display: none; }

.icon_as_button {
  margin-left: 15px; }

/* ============================================================
 * 記事関連
 * ============================================================ */
div#board_entry {
  background: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  -webkit-border-radius: 5px;
  margin-bottom: 5px; }
  div#board_entry .header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #e0e0e0; }
    div#board_entry .header h1 {
      font-size: 20px; }
    div#board_entry .header .date, div#board_entry .header .author {
      font-size: 8px;
      color: #808080; }
  div#board_entry .contents {
    padding: 5px; }

div.board_entry_comment {
  background: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #e0e0e0;
  -webkit-border-radius: 5px;
  margin-bottom: 5px; }
  div.board_entry_comment .header {
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #bebebe; }
    div.board_entry_comment .header .date, div.board_entry_comment .header .author {
      font-size: 8px;
      color: #808080; }
    div.board_entry_comment .header .operation {
      position: absolute;
      right: 0;
      top: 0;
      text-align: right;
      font-size: 12px;
      font-weight: bold;
      color: #808080; }
      div.board_entry_comment .header .operation ul {
        list-style-type: none;
        border-width: 1px;
        border-style: solid;
        border-color: #000000;
        background: #6d84a2;
        display: none; }
        div.board_entry_comment .header .operation ul li {
          display: inline; }
          div.board_entry_comment .header .operation ul li a {
            padding: 0, 3px;
            color: #ffffff;
            text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0;
            text-overflow: ellipsis;
            -webkit-border-image: url(/images/iui/toolButton.png) 0 5 0 5; }
    div.board_entry_comment .header .open {
      z-index: 999; }
  div.board_entry_comment .contents {
    padding: 5px; }
  div.board_entry_comment .level1 {
    margin-left: 2px;
    background: #ffffff; }
  div.board_entry_comment .level2 {
    margin-left: 4px;
    background: #eeeeee; }
  div.board_entry_comment .level3 {
    margin-left: 6px;
    background: #dddddd; }
  div.board_entry_comment .level4 {
    margin-left: 8px;
    background: #cccccc; }
  div.board_entry_comment .level5 {
    margin-left: 10px;
    background: #bbbbbb; }
