<div id="entry" class="panel" title="<%= @entry.title %>">
  <%= render(:partial => 'entries/entry_detail',
             :locals => {:entry => @entry, :prev_entry => @prev_entry, :next_entry => @next_entry,
                         :tb_entries => @tb_entries, :to_tb_entries => @to_tb_entries, :editable => @editable,
                         :entry_accesses => @entry_accesses, :total_count => @total_count, :bookmark_comments_count => @bookmark_comments_count}) %>
</div>
